@tailwind base;
@tailwind components;
@tailwind utilities;

.TooltipContent {
  transform-origin: var(--radix-tooltip-content-transform-origin);
  animation: fadeInUp 0.2s ease-out;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 10px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.TooltipContentDown {
  transform-origin: var(--radix-tooltip-content-transform-origin);
  animation: fadeInDown 0.2s ease-out;
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -10px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
